.video-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: max-content;
    gap: 18px;
    padding: 20px;
    background-color: var(--op-color4);
    overflow-y: scroll;
    height: calc(100vh - 110px);
}

.video-container-cover {
    position: relative;
    transition: 0.5s;
}

.video-content {
    margin-bottom: 25px;
    position: var(--position);
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    transition: 1s;
}

.video-content:hover {
    background-color: var(--op-color1);
}

.video-box {
    position: var(--position);
    width: auto;
    height: 145px;
    display: block;
}

.video-box img{
    object-fit: cover;
    border-radius: 12px;
}

.video-detail{
    display: flex;
    color: var(--color2);
    padding: 12px;   
}

.chanel-logo{
    position: var(--position);
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.detail{
    margin-left: 12px;
}

.title{
    font-size: 0.9rem;
}

.chanel-name{
    font-size: 0.8rem;
    margin-top: 10px;
    color: var(--color2);
}

.views-upload{
    display: flex;
    font-size: 0.8rem;
    margin-top: 4px;
    color: var(--color1);    
}
.upload{
    margin-left: 5px;
}